
@{
    ViewData["Title"] = "Welcome";
}
<style>
    body{
        background-color:antiquewhite;
    }
    .bb{
        text-align:center;
        top: 2%;
        left: 2%;
        width: 96%;
        height: 20%;
        
        color: darkblue;
    }
    .cc{
        position: absolute;
        left: 16%;
        height: 70%;
        width: 70%;
        border:double red 5px;
    }
</style>
<div class="bb">
    <h1>Thanks for choosing Joes pizza ❤❤</h1>
</div>

<div class="cc">
    <img src="https://marketplace.canva.com/EAEv8zsxbAw/1/0/1600w/canva-pizza-shop-restaurant-thank-you-for-your-order-card-simple-AkVYqtO6Jo8.jpg" width="900px" height="450px" alt="Alternate Text" />
</div>

