@{
    ViewData["Title"] = "Home Page";
}
<style>
    body{
        background-color:linen;
    }
    .text-center{
        
        top:2%;
        left:2%;
        width:96%;
        height:20%;
        background-color:cornflowerblue;
        color:darkblue;
    }
    .place{
        position:absolute;
        left:4%;
        height:70%;
        width:96%;

    }
    .display-4{
        text-align:center;
       color:orangered;
        
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome To Joe`s Pizza 🍕 </h1>   
</div>

<div class="place">
    
    <img src="https://thumbs.dreamstime.com/z/pizza-mozzarella-cherry-tomatoes-basil-space-text-space-text-colors-flavor-freshly-baked-crispy-177623769.jpg?w=992" alt="Alternate Text" width="96%" height="480px" />
</div>
